body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #007bff;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff;
}

.footer {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.list-group-item {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
